


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
  border: 1px solid #fff;
}








.popup_style1{
  display: flex;
}

.popup_style1_body{
  background: #fff;
  max-width: 500px;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
}







.header_btn{
  border-radius: 3px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  height: 45px;
  min-width: 137px;
  line-height: 28px;
  padding: 5px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center;
  color: #000 !important;
  background-color: #f2f5fb !important;
  border-color: #f2f5fb !important;
  box-shadow: none !important;
  border: hidden !important;
}
.header_btn div{
  background: transparent !important;
  padding: 0 10px !important;
  margin: 0 !important;
}
.header_btn div svg{}
.header_btn span{
  padding: 0 10px 0 0 !important;
}









.brand-logo{}
.brand-logo a{}
.brand-logo img{
  width: 100%;
  max-width: 180px;
}





footer{
  background: #25373f;
}







section{
  min-height: calc(100vh - 48px);
}













.make_profile_url_dv1{
  text-align: right;
}
.make_profile_url_dv2{
  text-align: left;
  /* border: 1px solid #c4c4c4; */
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #fff;
}
.make_profile_url_dv2 h3{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.make_profile_url_dv2 h4{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.make_profile_url_dv2 p{
  font-size: 14px;
}
.make_profile_url_dv2 hr{
  border: hidden;
  border-bottom: 1px solid #c4c4c4;
  opacity: 0.5;
  margin: 25px 0;
}



.mpu_form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.mpu_form > label{
  font-weight: 600;
  color: var(--color-headings);
  font-size: 15px;
}
.mpu_form .MuiFormControl-root{}
.mpu_form .MuiFormControl-root *{
  font-size: 15px;
}




.mpu_form .MuiFormControl-root label{
  color: #666666 !important;
}


.mpu_form .MuiInputBase-root input{
  text-transform: lowercase;
}
.mpu_form .MuiInputBase-root fieldset{
  border-color: #c4c4c4 !important;
}





















.big_calendar_dv{}

.big_calendar_dv .rbc-toolbar{}
.big_calendar_dv .rbc-toolbar .rbc-btn-group{}
.big_calendar_dv .rbc-toolbar .rbc-btn-group button{
  box-shadow: none;
  border: 1px solid #dee !important;
  background: #fff !important;
  border-radius: 4px;
}
.big_calendar_dv .rbc-toolbar .rbc-btn-group .rbc-active{
  background: #ff5722 !important;
  opacity: 1;
  color: #fff;
  border-color: #ff5722 !important;
}
.big_calendar_dv .rbc-toolbar .rbc-btn-group button:nth-child(1){}
.big_calendar_dv .rbc-toolbar .rbc-btn-group button:nth-child(3){
  border-radius: 0 4px 4px 0;
}
.big_calendar_dv .rbc-toolbar .rbc-btn-group:last-child button:nth-child(2),
.big_calendar_dv .rbc-toolbar .rbc-btn-group:last-child button:nth-child(4){
  display: none;
}

.big_calendar_dv .rbc-toolbar .rbc-toolbar-label{
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}


.big_calendar_dv .rbc-toolbar .rbc-toolbar-label .rbc-toolbar-label{}


.big_calendar_dv .rbc-month-view,
.big_calendar_dv .rbc-time-view{
  background: #fff;
}

.big_calendar_dv .rbc-month-view .rbc-month-header{}
.big_calendar_dv .rbc-header{
  padding: 8px 0;
}
.big_calendar_dv .rbc-month-view .rbc-header .columnheader{}


.big_calendar_dv .rbc-month-view .rbc-month-row{}
.big_calendar_dv .rbc-month-view .rbc-row-bg{}
.big_calendar_dv .rbc-month-view .rbc-row-bg .rbc-day-bg{}
.big_calendar_dv .rbc-month-view .rbc-row-bg .rbc-off-range-bg{}
.big_calendar_dv  .rbc-row-content{}
.big_calendar_dv .rbc-row {
  margin-bottom: 2px;
}
.big_calendar_dv  .rbc-row-content .rbc-row .rbc-date-cell{}
.big_calendar_dv .rbc-button-link{
  font-size: 15px;
}







.big_calendar_dv .rbc-event{
  background: #fff;
  color: #000;
  border: 1px solid #cbcbcb;
  position: relative;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 10px;
  outline: none !important;
}
.big_calendar_dv .rbc-event:before{
  /* content: '';
  background: #fff;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  position: absolute; */
}

.big_calendar_dv .rbc-event > *{
  position: relative;
}


.big_calendar_dv .rbc-row-segment {
  padding: 0 5px;
}
.big_calendar_dv .rbc-off-range-bg {
  background: #ebebeb;
  background: repeating-linear-gradient(-45deg, rgb(0 0 0 / 8%), transparent 5px);
}




.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #ff5722 !important;
  color: #fff !important;
  border-color: #ff5722 !important;
  outline: none !important;
}


.big_calendar_dv .rbc-show-more {
  font-weight: 500;
}






.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  margin-left: 5px;
}

.big_calendar_dv .rbc-label {
  padding: 0 5px;
  font-size: 15px;
}










.headingdv1{
  margin-bottom: 20px;
}


.title1{
  font-size: 22px;
  font-weight: 500;
}















