








.popup_style1{
  display: flex;
}

.popup_style1_body{
  background: #fff;
  max-width: 500px;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
}







.header_btn{
  border-radius: 3px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  height: 45px;
  min-width: 137px;
  line-height: 28px;
  padding: 5px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center;
  color: #000 !important;
  background-color: #f2f5fb !important;
  border-color: #f2f5fb !important;
  box-shadow: none !important;
}
.header_btn div{
  background: transparent !important;
  padding: 0 10px !important;
  margin: 0 !important;
}
.header_btn div svg{}
.header_btn span{
  padding: 0 10px 0 0 !important;
}









.brand-logo{}
.brand-logo a{}
.brand-logo img{
  width: 100%;
  max-width: 180px;
}





footer{
  background: #25373f;
}







